[importlinter]
root_packages =
    core
    django_project
include_external_packages = True
unmatched_ignore_imports_alerting = none

[importlinter:contract:core-isolation]
name = Core must not depend on outer layers
type = forbidden
source_modules =
    core
forbidden_modules =
    django_project
    django
    pika
    config
